.range {
  width: 100%;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.value {
  background-color: lightgrey;
  border-radius: 2px;
  font: {
    size: 14px;
    weight: 700;
  }
  padding: 6px 12px;
}
