.product {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  column-gap: 40px;
  row-gap: 40px;
}

.carousel {
  grid-row-start: 1;
  grid-row-end: 2;
}

.productConfiguration {
  grid-row-start: 1;
  grid-row-end: 3;
}

.productDetails {
  grid-row-start: 2;
  grid-row-end: 3;
}

.form {
  width: 60%;
}

.formField {
  position: relative;

  &:not(&:last-child) {
    margin-bottom: 25px;
  }
}

.pickerContainer {
  display: flex;
  justify-content: flex-Start;
}

.actions {
  button {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  margin-bottom: 40px;
}
